In [2]:
import pandas as pd
import nltk
from nltk import word_tokenize

In [3]:
sen="the food was best but the serving was worst"

In [4]:
import re
sen = [re.sub(r"[^a-zA-Z0-9]+", ' ', k) for k in sen.split("\n")]
print(sen)
sen2=sen

['the food was best but the serving was worst']

In [5]:
sen=word_tokenize(sen[0])

In [6]:
df=pd.DataFrame(sen,columns=['word'])
df['stopword']=0
df['pos_tag']=''

In [7]:
from nltk.corpus import stopwords
a=set(stopwords.words('english'))

In [8]:
df['word_len']=0

In [9]:
df

      word  stopword pos_tag  word_len
0      the         0                 0
1     food         0                 0
2      was         0                 0
3     best         0                 0
4      but         0                 0
5      the         0                 0
6  serving         0                 0
7      was         0                 0
8    worst         0                 0

[9 rows x 4 columns]

In [10]:
for i in range(0,len(df)):
    if (df['word'][i]) in a:
        df['stopword'][i]=1
        
        
    else:
        df['stopword'][i]=0
        
        
    if(len(df['word'][i])>3):
        df['word_len'][i]=1
    else:
        df['word_len'][i]=0

In [11]:
df

      word  stopword pos_tag  word_len
0      the         1                 0
1     food         0                 1
2      was         1                 0
3     best         0                 1
4      but         1                 0
5      the         1                 0
6  serving         0                 1
7      was         1                 0
8    worst         0                 1

[9 rows x 4 columns]

In [12]:
post_tag=nltk.pos_tag(sen
                     )

In [13]:
post_tag[0][1]

'DT'

In [14]:
df['pos_tag']=post_tag

In [15]:
next_l=[]
k=0
for i in range(0,len(sen)-1):
    #printi
    next_l.append(sen[i+1])

In [16]:
next_l

['food', 'was', 'best', 'but', 'the', 'serving', 'was', 'worst']

In [17]:
next_l.append("")

In [18]:
next_l

['food', 'was', 'best', 'but', 'the', 'serving', 'was', 'worst', '']

In [19]:
df['next_words']=""

In [20]:
df['next_words']=next_l

In [21]:
df['prev_words']=""
prev=[]

In [22]:
prev.append("")

In [23]:
for i in range(1,len(sen)):
    #print i
    #print sen[i]
    prev.append(sen[i-1])

In [24]:
prev

['', 'the', 'food', 'was', 'best', 'but', 'the', 'serving', 'was']

In [25]:
df['prev_words']=prev

In [26]:
df

      word  stopword        pos_tag  word_len next_words prev_words
0      the         1      (the, DT)         0       food
1     food         0     (food, NN)         1        was        the
2      was         1     (was, VBD)         0       best       food
3     best         0    (best, RBS)         1        but        was
4      but         1      (but, CC)         0        the       best
5      the         1      (the, DT)         0    serving        but
6  serving         0  (serving, NN)         1        was        the
7      was         1     (was, VBD)         0      worst    serving
8    worst         0    (worst, RB)         1                   was

[9 rows x 6 columns]

In [27]:
df['pre_word_tag']=""
df['post_word_tag']=""
print(sen)

['the', 'food', 'was', 'best', 'but', 'the', 'serving', 'was', 'worst']

In [28]:
import os
a=os.popen("echo '"+sen2[0]+"' > ~/stanford-parser-2012-11-12/stanfordtemp.txt")
parser_out = os.popen("~/stanford-parser-2012-11-12/lexparser.sh ~/stanford-parser-2012-11-12/stanfordtemp.txt")
print(parser_out)
for relation in parser_out:
    print(relation)

<os._wrap_close object at 0x7fafff47f2e8>
(ROOT

  (S

    (NP (DT the) (NN food))

    (VP (VBD was)

      (ADJP (JJS best))

      (SBAR (CC but)

        (S

          (NP (DT the) (NN serving))

          (VP (VBD was)

            (ADJP (JJS worst))))))))



det(food-2, the-1)

nsubj(best-4, food-2)

cop(best-4, was-3)

root(ROOT-0, best-4)

cc(worst-9, but-5)

det(serving-7, the-6)

nsubj(worst-9, serving-7)

cop(worst-9, was-8)

ccomp(best-4, worst-9)

In [29]:
from nltk.tree import Tree

examples = [ '(ROOT (S     (NP (DT the) (NN food))    (VP (VBD was) (ADJP (JJS best)) (SBAR (CC but) (S  (NP (DT the) (NN serving)) (VP (VBD was)       (ADJP (JJS worst))))))))']
head_word=[]

def find_noun_phrases(tree):
    return [subtree for subtree in tree.subtrees(lambda t: t.label()=='NP')]

def find_head_of_np(np):
    noun_tags = ['NN', 'NNS', 'NNP', 'NNPS']
    top_level_trees = [np[i] for i in range(len(np)) if type(np[i]) is Tree]
    ## search for a top-level noun
    top_level_nouns = [t for t in top_level_trees if t.label() in noun_tags]
    if len(top_level_nouns) > 0:
        ## if you find some, pick the rightmost one, just 'cause
        return top_level_nouns[-1][0]
    else:
        ## search for a top-level np
        top_level_nps = [t for t in top_level_trees if t.label()=='NP']
        if len(top_level_nps) > 0:
            ## if you find some, pick the head of the rightmost one, just 'cause
            return find_head_of_np(top_level_nps[-1])
        else:
            ## search for any noun
            nouns = [p[0] for p in np.pos() if p[1] in noun_tags]
            if len(nouns) > 0:
                ## if you find some, pick the rightmost one, just 'cause
                return nouns[-1]
            else:
                ## return the rightmost word, just 'cause
                return np.leaves()[-1]

for example in examples:
    tree = Tree.fromstring(example)
    for np in find_noun_phrases(tree):
       
        print(" ".join(np.leaves()))
        head = find_head_of_np(np)
        
        if head not in head_word:
            
            head_word.append(head)

the food
the serving

In [30]:
head_word

['food', 'serving']

In [31]:
df['head_word']=0
pos_pre=[]
pos_pre.append("")
pos_post=[]
pos=[]
df['pos']=""

for i in range(0,len(post_tag)-1):
    pos_post.append(post_tag[i+1][1])
pos_post.append("")

for i in range(0,len(post_tag)):
    pos.append(post_tag[i][1])
    
for i in range(1,len(post_tag)):
    pos_pre.append(post_tag[i-1][1])

df['pre_word_tag']=pos_pre
df['post_word_tag']=pos_post
df['pos']=pos

In [32]:
for i in range(0,len(df)):
   
        

    if (df['word'][i]) in head_word:
        print(df['word'][i])
        df['head_word'][i]=1
    else:
        df['head_word'][i]=0

food
serving

In [33]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word,pos
0,the,1,"(the, DT)",0,food,,,NN,0,DT
1,food,0,"(food, NN)",1,was,the,DT,VBD,1,NN
2,was,1,"(was, VBD)",0,best,food,NN,RBS,0,VBD
3,best,0,"(best, RBS)",1,but,was,VBD,CC,0,RBS
4,but,1,"(but, CC)",0,the,best,RBS,DT,0,CC
5,the,1,"(the, DT)",0,serving,but,CC,NN,0,DT
6,serving,0,"(serving, NN)",1,was,the,DT,VBD,1,NN
7,was,1,"(was, VBD)",0,worst,serving,NN,RB,0,VBD
8,worst,0,"(worst, RB)",1,,was,VBD,,0,RB

In [34]:
t1="she is serving food in the restaurant"
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range(0,len(sen)):
  
    print(lemmatizer.lemmatize('worst','a'))

bad
bad
bad
bad
bad
bad
bad
bad
bad

In [35]:
from nltk.corpus import wordnet

morphy_tag = {'NN':wordnet.NOUN,'JJS':wordnet.ADJ,'VBD':wordnet.VERB,'RB':wordnet.ADJ,'VBG':wordnet.VERB}

In [36]:
morphy_tag

{'JJS': 'a', 'NN': 'n', 'RB': 'a', 'VBD': 'v', 'VBG': 'v'}

In [37]:
df['lematized_words']='NULL'
lema=[]
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range(0,len(sen)):
    c=post_tag[i][1]
    for name in morphy_tag.keys():
        if name == c:
            print(name)
            new=morphy_tag[name]
            print(new)
    lema.append(lemmatizer.lemmatize(post_tag[i][0],new))

NameError: name 'new' is not defined

In [ ]:
lema

In [ ]:
df['lematized_words']=lema

In [ ]:
df

In [ ]:
df['ortho_features']=''
for i in range(0,len(df)):
    if ((df['word'][i].istitle() == True) or (df['word'][i].isdigit()==True)):
        df['ortho_features'][i]=1
    else:
        df['ortho_features'][i]=0

In [ ]:
df

In [ ]:
df['token_freq']=''
for i in range(0,len(df)):
    df['token_freq'][i]=sen.count(df['word'][i])

In [ ]:
df['head_word_tag']=""
for i in range(0,len(post_tag)):
    
    if(post_tag[i][0] in head_word):
        df['head_word_tag'][i]=post_tag[i][1]

In [ ]:
df.drop(['pos_tag'], axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [ ]:
df.drop(['pos_tag'], axis=1)

In [ ]:
MultiColumnLabelEncoder(columns = ['word','next_words','prev_words','pre_word_tag','post_word_tag','lematized_words','head_word_tag','pos']).fit_transform(df)

In [ ]:
df

In [ ]:
df

In [38]:
from stanfordcorenlp import StanfordCoreNLP as scn
nlp=scn('Downloads/stanford-corenlp-full-2018-10-05')

def get_governor_words(sen):
    check_list=['amod','nsubj','dep','dboj']
    a=nlp.dependency_parse(sen)
    print(a)
    l=[]
    for i in a:
        if i[0] in check_list:
            l.append(i[2])
    return l
sen='the food was good but the serving was poor'
l=get_governor_words(sen)
print(l)

[('ROOT', 0, 4), ('det', 2, 1), ('nsubj', 4, 2), ('cop', 4, 3), ('cc', 4, 5), ('det', 7, 6), ('nsubj', 9, 7), ('cop', 9, 8), ('conj', 4, 9)]
[2, 7]

In [46]:

sen='the food was good but the serving was poor'
from nltk.tokenize import word_tokenize
sen=word_tokenize(sen)
df['governor_word']=0
for i in l:
    word=sen[i-1]
    df.loc[df.word==word,'governor_word']=1
# df.loc[df.word=='food','governor_word']=1

In [47]:
sen

['the', 'food', 'was', 'good', 'but', 'the', 'serving', 'was', 'poor']

In [48]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word,pos,lematized_words,token_freq,head_word_tag,governor_word
0,the,1,"(the, DT)",0,food,,,NN,0,DT,NULL,2,,0
1,food,0,"(food, NN)",1,was,the,DT,VBD,1,NN,NULL,1,NN,1
2,was,1,"(was, VBD)",0,best,food,NN,RBS,0,VBD,NULL,2,,0
3,best,0,"(best, RBS)",1,but,was,VBD,CC,0,RBS,NULL,1,,0
4,but,1,"(but, CC)",0,the,best,RBS,DT,0,CC,NULL,1,,0
5,the,1,"(the, DT)",0,serving,but,CC,NN,0,DT,NULL,2,,0
6,serving,0,"(serving, NN)",1,was,the,DT,VBD,1,NN,NULL,1,NN,1
7,was,1,"(was, VBD)",0,worst,serving,NN,RB,0,VBD,NULL,2,,0
8,worst,0,"(worst, RB)",1,,was,VBD,,0,RB,NULL,1,,0

In [49]:
from nltk import ne_chunk, pos_tag, word_tokenize
from nltk.tree import Tree

def get_continuous_chunks(text):
    
     
     
    chunked = ne_chunk(pos_tag(word_tokenize(text)))
    continuous_chunk = []
    current_chunk = []
    for i in chunked:
        if type(i) == Tree:
            current_chunk.append(" ".join([token for token, pos in i.leaves()]))
        elif current_chunk:
            named_entity = " ".join(current_chunk)
            if named_entity not in continuous_chunk:
                continuous_chunk.append(named_entity)
                current_chunk = []
        else:
            continue
    return continuous_chunk

# my_sent = "WASHINGTON -- In the wake of a string of abuses by New York police officers in the 1990s, Loretta E. Lynch, the top federal prosecutor in Brooklyn, spoke forcefully about the pain of a broken trust that African-Americans felt and said the responsibility for repairing generations of miscommunication and mistrust fell to law enforcement."
sen='the food was best but the serving was worst'
a=(get_continuous_chunks(sen))
df['ner']=0
for i in a:
    df.loc[df.word==i,'ner']=1

In [50]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word,pos,lematized_words,token_freq,head_word_tag,governor_word,ner
0,the,1,"(the, DT)",0,food,,,NN,0,DT,NULL,2,,0,0
1,food,0,"(food, NN)",1,was,the,DT,VBD,1,NN,NULL,1,NN,1,0
2,was,1,"(was, VBD)",0,best,food,NN,RBS,0,VBD,NULL,2,,0,0
3,best,0,"(best, RBS)",1,but,was,VBD,CC,0,RBS,NULL,1,,0,0
4,but,1,"(but, CC)",0,the,best,RBS,DT,0,CC,NULL,1,,0,0
5,the,1,"(the, DT)",0,serving,but,CC,NN,0,DT,NULL,2,,0,0
6,serving,0,"(serving, NN)",1,was,the,DT,VBD,1,NN,NULL,1,NN,1,0
7,was,1,"(was, VBD)",0,worst,serving,NN,RB,0,VBD,NULL,2,,0,0
8,worst,0,"(worst, RB)",1,,was,VBD,,0,RB,NULL,1,,0,0

In [51]:
from nltk.corpus import wordnet as wn
import nltk
def noun_synsets(word):
    pos_list=[]
    a=wn.synsets(word)
#     print(a)
    for synset in a:
        b=synset.lemma_names()
        b=nltk.pos_tag(b)
        
        for i in b:
            if(i[1]=='NN'):
                pos_list.append(i[0])
    return pos_list

In [52]:
df['noun_synsets']=""

In [53]:
for i in df.iterrows():
    l=[]
    l=noun_synsets(i[1][0])
    print(l)
    df.loc[df.word==i[1][0],'noun_synsets']=[l]

[]
['food', 'nutrient', 'food', 'solid_food', 'food', 'food_for_thought', 'intellectual_nourishment']
['exist', 'constitute', 'represent', 'make_up', 'comprise', 'embody', 'cost']
['topper', 'Charles_Herbert_Best', 'trump', 'scoop', 'good', 'honorable', 'good', 'proficient', 'skilful', 'secure', 'right', 'ripe', 'well', 'in_effect', 'in_force', 'sound', 'salutary', 'honest', 'unspoilt']
[]
[]
['portion', 'service', 'service_of_process', 'serve', 'function', 'serve', 'serve', 'service', 'serve', 'serve', 'help', 'serve', 'serve_up', 'dish_out', 'dish_up', 'dish', 'serve', 'serve', 'serve_well', 'serve', 'serve', 'attend_to', 'attend', 'assist', 'serve', 'process', 'swear_out', 'suffice', 'serve', 'serve', 'service', 'serve']
['exist', 'constitute', 'represent', 'make_up', 'comprise', 'embody', 'cost']
['pip', 'mop_up', 'whip', 'rack_up', 'spoilt', 'sorry', 'high-risk', 'speculative', 'unsound', 'defective']

In [54]:
df['noun_synsets']

0
1          food
2         exist
3        topper
4
5
6       portion
7    constitute
8           pip
Name: noun_synsets, dtype: object

In [55]:
df

,word,stopword,pos_tag,word_len,next_words,prev_words,pre_word_tag,post_word_tag,head_word,pos,lematized_words,token_freq,head_word_tag,governor_word,ner,noun_synsets
0,the,1,"(the, DT)",0,food,,,NN,0,DT,NULL,2,,0,0,
1,food,0,"(food, NN)",1,was,the,DT,VBD,1,NN,NULL,1,NN,1,0,food
2,was,1,"(was, VBD)",0,best,food,NN,RBS,0,VBD,NULL,2,,0,0,exist
3,best,0,"(best, RBS)",1,but,was,VBD,CC,0,RBS,NULL,1,,0,0,topper
4,but,1,"(but, CC)",0,the,best,RBS,DT,0,CC,NULL,1,,0,0,
5,the,1,"(the, DT)",0,serving,but,CC,NN,0,DT,NULL,2,,0,0,
6,serving,0,"(serving, NN)",1,was,the,DT,VBD,1,NN,NULL,1,NN,1,0,portion
7,was,1,"(was, VBD)",0,worst,serving,NN,RB,0,VBD,NULL,2,,0,0,constitute
8,worst,0,"(worst, RB)",1,,was,VBD,,0,RB,NULL,1,,0,0,pip